@import "../../global/css/animation.css";

.stage-controller {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h3 {
    font-size: 82px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }
  .hide {
    display: none!important;
  }
}
