@import '../../assets/css/mixin';

.navbar {
  z-index: 1;
  display: flex;
  align-items: center;
  position: relative;
  transition: opacity .5s;
  height: 100vh;
  @include background-color('navbar-bg');
  border-left: 3px solid;
  @include border-color('navbar-border');
  @include color('navbar-color');
  &.loading {
    opacity: 0;
    width: 0;
  }
  .container {
    display: flex;
    align-items: center;
  }
  .navbar-btn {
    cursor: pointer;
    z-index: 1;
    width: 60px;
    height: 30px;
  }
  .navbar-icons {
    overflow-x: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    p {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
      a:visited {
        color: inherit;
      }
    }
    .navbar-icon-item {
      width: 48px;
      height: 48px;
    }
  }

}



.navbar.show-navbar {
  .navbar-icons {
    animation: fadeInNavbar .5s ease-in-out both;
  }
}
.navbar.hide-navbar {
  .navbar-icons {
    animation: fadeOutNavbar .5s ease-in-out both;
  }
}

@keyframes fadeInNavbar {
  0% {
    opacity: 0;
    width: 0;
  }
  50% {
    opacity: 0;
    width: 290px;
  }
  100% {
    opacity: 1;
    width: 290px;
  }
}


@keyframes fadeOutNavbar {
  0% {
    opacity: 1;
    width: 290px;
  }
  50% {
    opacity: 0;
    width: 290px;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
