@import "mixin";

html, body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}


.component-group {
  display: flex;
  flex-direction: column;
}

.bg-animation {
  &.animated {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include background-image('body_bg_image');
    position: fixed;
    z-index: 9999;
    background-position: center center;
    background-size: cover;
    mask-image: radial-gradient(#000 60%, transparent 61%);
    mask-position: center center;
    mask-repeat: no-repeat;
    animation: mask-move .8s linear 1 alternate;
    animation-fill-mode: both;
  }
}

.bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  @include background-color('body_bg');
  @include background-image('body_bg_image');
}


.theme-picker {
  @include color('body_color');
  transition: background-color .2s ease-in-out,
  color .2s ease-in-out;
}


*, *:after, *:before {
  box-sizing: border-box;
}

#root {
  height: 100%;
  min-height: 100vh;
}

.container {
  padding: 0 15px;
}

@media (min-width: 575.98px) {
  .container {
    max-width: 540px;
    margin: auto;
    padding: 0;
  }
}

@media (min-width: 767.98px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 991.98px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1199.98px) {
  .container {
    max-width: 1440px;
  }
}


::selection {
  background: #7200a5f5;
  color: #fff;
}


.scroll-bar {
  display: flex;
}


#tsparticles {
  min-height: 100vh;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}



.css-transition {
    &-enter {
      opacity: 0;
    }
    &-enter-active {
      opacity: 1;
      transition: all .4ms ease-in;
    }
    &-exit {
      opacity: 1;
    }
    &-exit-active {
      opacity: 0;
      transition: all .4ms ease-out;
    }
  }
