.projects {
  position: relative;
  background-image: url('../assets/images/projects-peeking.gif');
  background-position: center -81px;
  background-repeat: no-repeat;
  background-size: 500px;
  padding: 200px 0 0 0;
  animation: cat-appears 1.3s ease, fadein 2s;
  &.projects__cat__animation {
    animation: cat-disappear-and-appear 1.3s ease;
  }
}

@keyframes cat-appears {
  0% {
    background-position: center 500px;
  }
  100% {
    background-position: center -81px;
  }
}

@keyframes cat-disappear-and-appear {
  0% {
    background-position: center -81px;
  }
  50% {
    background-position: center 500px;
  }
  100% {
    background-position: center -81px;
  }
}
