@import "../stylesheets/mixin.scss";


.projects-description {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  overflow: scroll;
}


//Animation
.projects-description {
  &.css-transition {
    &-exit {
      & {
        opacity: 0;
        visibility: hidden;
        position: absolute;
      }
    }
  }
}
