.projects {
  position: relative;
  background-image: url("../assets/images/projects-peeking.gif");
  background-position: center -81px;
  background-repeat: no-repeat;
  background-size: 500px;
  padding: 200px 0 0 0;
  animation: catAppears 1.3s ease;
  &.projects__cat__animation {
    animation: catDisappearAndAppear 1.3s ease;
  }
}

@keyframes catAppears {
  0%   { background-position: center 500px; }
  100% { background-position: center -81px; }
}

@keyframes catDisappearAndAppear {
  0% { background-position: center -81px; }
  50%   { background-position: center 500px; }
  100% { background-position: center -81px; }
}

//Animation
.projects {
  &.css-transition {
    &-enter-active {
      & {
        transform: translateX(-100%);
        transition: transform .3s;
      }
    }
    &-enter-done {
      & {
        transform: translateX(0);
        transition: transform .3s;
      }
    }
    &-exit {
     & {
       opacity: 0;
       visibility: hidden;
       position: absolute;
     }
    }
  }
}

