@import "../stylesheets/animation.css";

.stage-controller {
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .navbar {
    right: 0;
    position: fixed;
  }
  h3 {
    font-size: 82px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }
  .hide {
    display: none!important;
  }
}
