@import '../../assets/css/mixin';

.profile-card {
  position: relative;
  height: 100vh;
  .container {
    height: auto;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    min-height: 100%;
    @include respond(_1320_min) {
      flex-direction: column-reverse;
      padding-right: 150px;
    }
    @include respond(_768_min) {
      padding: 0 65px 0 0;
    }
    @include respond(_420_min) {
      height: auto;
      padding: 0;
      padding-top: 100px;
    }
  }
  .component-group {
    transform: translateY(-100%);
    padding: 20px;
    justify-content: center;
    margin: 0 10px 0 -220px;
    @include respond(_1321_plus) {
      margin: 0 10px 0 -140px;
    }
    @include respond(_1320_min) {
      margin: 0;
    }
  }
}

//ProfilePhoto
.profile-photo {
  position: relative;
  display: flex;
  align-items: flex-end;
  @include respond(_1320_min) {
    width: 100%;
  }
  .image-wrapper {
    display: flex;
    text-align: center;
    @include respond(_1320_min) {
      width: 100%;
      align-items: flex-end;
    }
    .image-cartoon {
      @include respond(_1321_plus) {
        display: none;
      }
      @include respond(_1320_min) {
        //bottom: -220px;
        position: relative;
        max-width: 490px;
        height: 100%;
      }
      @include respond(_1100_min) {
        display: none;
      }
      width: 100%;
    }
    .image-personal {
      transform: translateX(-100%);
      width: 80vh;
      height: auto;
      min-width: 200px;
      @include respond(_1321_plus) {
        width: 68vh;
      }
      @include respond(_1100_min) {
        width: 50vh;
      }
      @include respond(_768_min) {
        width: 40vh;
      }
    }
  }
  .text-wrapper {
    text-align: center;
    h1 {
      margin: 20px 0 10px 0;
      font-size: 32px;
      text-transform: uppercase;
      font-weight: 900;
      @include respond(_420_min) {
        font-size: 28px;
      }
    }
    h2 {
      margin: 0 0 10px 0;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 500;
      @include respond(_420_min) {
        font-size: 18px;
      }
    }
  }
}

.profile-title {
  display: flex;
  flex-direction: column;
  h1, h2, span  {
    text-align: center;
    margin: 15px 0;
  }
  span {
    font-size: 60px;
    @include respond(_420_min) {
      font-size: 40px;
    }
  }
  h1 {
    font-size: 48px;
    @include respond(_420_min) {
      font-size: 32px;
    }
  }
  h2 {
    font-style: italic;
    font-size: 22px;
    @include respond(_420_min) {
      font-size: 18px;
    }
  }
}

//ProfileSocial
.profile-social-links {
  padding: 0;
  margin: 10px 0 0 0;
  display: flex;
  list-style: none;
  width: 100%;
  align-items: center;
  justify-content: center;
  li {
    cursor: pointer;
    position: relative;
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
    &:hover .social-icon {
      @include color('profile-social-icon-hover');
    }
    .social-icon {
      transition: color linear .15s;
      @include color('profile-social-icon');
    }
    a, span {
      &:before {
        content: "";
        position: absolute;
        left: -9px;
        top: -9px;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        @include background-color('social-icon-highlight');
        opacity: 0;
        transition: opacity 0.15s linear;
        user-select: none;
      }
      &:hover:before {
        opacity: 1;
      }
      z-index: 1;
      -webkit-tap-highlight-color: transparent;
    }
  }
}

//ProfileMain
.profile-about {
  @include background-color('profile-about');
  border: 2px solid;
  @include border-color('profile-about-border');
  margin-top: 15px;
  padding: 10px 20px;
  p {
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 300;
  }
}



.slide-in {
  animation: slide-in 1s forwards;
  -webkit-animation: slide-in 1s forwards;
}

.slide-in-top {
  animation: slide-in-top 2s forwards;
  -webkit-animation: slide-in-top 2s forwards;
}

.slide-out {
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
  100% { transform: translateX(0%); }
}

@keyframes slide-in-top {
  100% { transform: translateY(0%); }
}


@keyframes slide-out {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}
