//Profile
.profile-card {
  display: flex;
}

//ProfileHeader
.profile-header {
  display: flex;
  flex-direction: column;
  img {
    display: block;
    max-width: 250px;
  }
}


//ProfileSocial



//ProfileMain



