$circle-length: 151px;
$check-length: 36px;

#successAnimation {
  position: absolute;
  z-index: 1;
}

@keyframes scale-animation {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes draw-circle {
  0% {
    stroke-dashoffset: $circle-length;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes draw-check {
  0% {
    stroke-dashoffset: $check-length;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#successAnimationCircle {
  stroke-dasharray: $circle-length $circle-length;
  stroke: green;
}

#successAnimationCheck {
  stroke-dasharray: $check-length $check-length;
  stroke: green;
}

#successAnimationResult {
  fill: green;
  opacity: 0;
}

#successAnimation.animated {
  animation: 1s ease-out 0s 1 both scale-animation;

  #successAnimationCircle {
    animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both draw-circle,
      0.3s linear 0.9s 1 both fade-out;
  }

  #successAnimationCheck {
    animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both draw-check,
      0.3s linear 0.9s 1 both fade-out;
  }

  #successAnimationResult {
    animation: 2s linear 0.9s both fade-in;
  }
}
