@import "../stylesheets/mixin";

.projects-description {
  .description-details {
    position: relative;

    .container {
      padding-top: 50px;
      @include respond(_768_min) {
        padding-top: 10px;
      }

      .screen-image {
        max-width: 700px;
        width: 100%;
        display: block;
        z-index: -1;
        @include respond(_768_min) {
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          align-items: center;
          margin-bottom: 30px;
        }

        &__shadow, &__bottom {
          display: none;
        }

        &__screen {
          img {
            transition: opacity 0.3s ease-in-out;
            opacity: 0;
            z-index: 1;
          }
        }

        &__screen__mobile {
          z-index: 2;
          @include respond(_768_min) {
            display: none;
          }

          &-image {
            z-index: 3;
            transition: opacity 0.3s ease-in-out;
            opacity: 0;
          }
        }
      }

      .details-container {
        max-width: 700px;
        position: relative;
        width: 100%;
        text-align: justify;
        display: flex;
        flex-direction: column;
        margin: 40px auto 60px auto;

        @include color('projects_description_details_color');
        opacity: 0;
        transition: opacity 0.3s ease-in-out;

        &.has-screen__mobile {
          margin: -350px auto 80px auto;
          left: 125px;
          max-width: 420px;
          @include respond(_768_min) {
            margin: 0 auto 30px auto;
            left: unset;
            max-width: 100%;
          }
        }

        &__title {
          margin-top: 0;
          margin-bottom: 12px;
          font-size: 52px;
          line-height: 64px;
          font-weight: 900;
          @include respond(_600_min) {
            font-size: 46px;
            line-height: 54px;
          }
        }

        &__details {
          opacity: .7;
          font-size: 17px;
          line-height: 36px;
          font-weight: 300;

          @include respond(_600_min) {
            font-size: 15px;
            line-height: 28px;
          }
        }

      }

      .features {
        display: flex;
        align-content: center;
        justify-content: center;
        max-width: 700px;
        margin: 0 auto;
        width: 100%;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        @include respond(_600_min) {
          flex-direction: column-reverse;
        }


        .features-container {
          display: flex;
          justify-content: space-around;
          flex-direction: column;
          width: 100%;

          @include respond(_600_min) {
            align-items: center;
            margin-top: 10px;
            &:first-child {
              margin-top: 30px;
            }
          }

          &__description {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 10px;
            font-weight: 500;
            line-height: 20px;
            opacity: .6;
            text-transform: uppercase;
            min-height: 30px;
          }

          &__content {
            display: flex;
            align-items: center;
            min-height: 30px;
          }

          &__date {
            display: flex;
            flex-direction: column;
            border-left: solid;
            padding: 0 0 0 15px;
            @include respond(_600_min) {
              padding-top: 10px;
              border: solid;
              border-bottom: 0;
              min-width: 250px;
            }

            .features-container__content {
              font-size: 12px;
              font-weight: 500;
              line-height: 26px;
              text-transform: uppercase;

              svg {
                margin: 0 5px 0 0;
              }
            }
          }

          &__tags {
            flex-direction: column;
            display: flex;
            border-left: solid;
            padding: 0 0 0 15px;
            @include respond(_600_min) {
              padding-top: 10px;
              border: solid;
              border-bottom: 0;
              min-width: 250px;
            }

            .features-container__content {
              flex-wrap: wrap;
              max-width: 230px;

              button {
                margin: 0 5px 3px 0;
                opacity: .7;
                @include border-color('projects_description_details_tags_border_color');
                border: 1px solid;
                @include color('projects_description_details_tags_color');
                border-radius: 100px;
                padding: 3px 7px 5px;
                background: none;
                text-transform: lowercase;
                font-size: 11px;
                line-height: 11px;
              }
            }
          }

          &__role {
            flex-direction: column;
            display: flex;
            border-left: solid;
            padding: 0 0 0 15px;
            font-size: 12px;
            font-weight: 500;
            line-height: 26px;
            text-transform: uppercase;
            @include respond(_600_min) {
              padding-top: 10px;
              border: solid;
              border-bottom: 0;
              min-width: 250px;
            }

            svg {
              margin: 0 5px 0 0;
            }
          }

          .button {
            width: 100%;
            display: block;
            max-height: 50px;
          }

          &__links {
            display: flex;
            align-items: center;
            justify-content: space-around;

            a {
              transition: opacity 0.3s ease-in-out;
              @include color('projects_description_details_links_color');
              @include fill('projects_description_details_links_fill');
              display: block;

              &:hover {
                opacity: .7;
              }

              svg {
                width: 42px;
                height: 42px;
              }
            }
          }

        }
      }

    }

  }

  .show {
    opacity: 1 !important;
  }
}
