$color-blue: #1E88E5;
$color-purple: #8E24AA;
$color-teal: #00897B;
$color-blue-grey: #546E7A;
$color-cyan: #00ACC1;

$color-list: ($color-teal, $color-blue, $color-purple, $color-blue-grey, $color-teal);

.page_container {
  overflow-y: auto;
  padding: 80px 0 40px 0;
  background: transparent;
}

.image {
  width: 300px;
  margin-bottom: 40px;
  opacity: 0;
}

.description_container {
  max-width: 980px;
  color: white;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.show {
  opacity: 1;
}

@for $index from 1 through length($color-list) {
  .color_#{$index} {
    background: nth($color-list, $index);
  }
}
