@import "../stylesheets/mixin";

:root {
  --axis-x: 1px;
  --axis-y: 1rem;
  --delay: 30;

  --color-black: #000;
  --color-white: #fff;
  --color-orange: #d49c3d;
  --color-red: #d14b3d;
  --color-violet: #cf52eb;
  --color-blue: #44a3f7;
  --color-green: #5acb3c;
  --color-yellow: #debf40;
  --color-foreground: var(--color-white);
  --font-name: Roboto;
}

.stage-settings {
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
  .step {
    padding-top: 55px;
    margin: auto;
    display: flex;
    padding-bottom: 80px;
    @include background-color('slider_bg');
    &.step-4 .card {
      pointer-events: none;
      cursor: default;
    }
    @include respond(_768_min) {
      padding-bottom: 0;
      padding-top: 200px;
    }
  }
  .awssld {
    &__wrapper{
      overflow: initial;
    }
    &__content {
      --content-background-color: transparent;
      overflow: scroll;
    }
    &__bullets {
      bottom: 0;
      position: fixed;
      @include background-color('slider_bg');
      padding: 20px 0;
      @include box-shadow('slider_nav_shadow');

      @include respond(_768_min) {
        top: 60px;
        right: 0;
        bottom: unset;
        max-width: 210px;
      }

      button {
        @include background-color('slider_bullet_color')
      }

      &--active {
        @include background-color('slider_bullet_color_active')
      }
    }
  }

  .c-rainbow {
    user-select: none;
    z-index: 1;
    width: 100%;
    max-width: 280px;
    top: 20px;
    left: 50px;
    position: absolute;
    counter-reset: rainbow;
    display: block;

    list-style: none;

    padding: 0;
    margin: 0;
    animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari and Chrome */
    -o-animation: fadein 4s; /* Opera */
    &__layer {
      --text-color: var(--color-foreground);
      counter-increment: rainbow;
      font-size: .7rem;
      color: var(--text-color);

      text-shadow: -1px -1px 0 var(--color-black), 1px -1px 0 var(--color-black),
      -1px 1px 0 var(--color-black), 1px 1px 0 var(--color-black),
      4px 4px 0 rgba(0, 0, 0, 0.2);

      animation: rainbow 1.5s ease-in-out infinite;

      @for $i from 1 through 7 {
        &:nth-child(#{$i}) {
          animation-delay: calc(#{$i} / var(--delay) * 1s);
          left: calc(var(--axis-x) * #{$i});
          z-index: -#{$i * 10};
        }
      }

      &:not(:first-child) {
        position: absolute;
        top: 0;
      }

      &--white {
        --text-color: var(--color-white);
      }
      &--orange {
        --text-color: var(--color-orange);
      }
      &--red {
        --text-color: var(--color-red);
      }
      &--violet {
        --text-color: var(--color-violet);
      }
      &--blue {
        --text-color: var(--color-blue);
      }
      &--green {
        --text-color: var(--color-green);
      }
      &--yellow {
        --text-color: var(--color-yellow);
      }
    }
    @include respond(_768_min) {
      max-width: 160px;
    }
    @include respond(_768_min) {
      top: 160px;
    }
  }
}
