@import "../stylesheets/mixin";

.bg-transparent .step {
  background-color: transparent !important;
}

.step {
  width: 100%;


  &.step-1 {
    img {
      width: 100% !important;
    }
  }
  .card {
    cursor: pointer;
    margin: 15px 20px;
    position: relative;
    background: #333;
    @include background-color('card-bg');
    min-width: 200px;
    max-width: 300px;
    min-height: 350px;
    width: 100%;
    border-radius: 6px;
    padding: 1.5rem;
    @include color('card-color');
    @include box-shadow('card-shadow');
    overflow: hidden;
    transition: .15s transform linear;

    @include respond(_768_min) {
      margin: 10px 10px;
    }

    &:hover {
      transform: translateY(-5px);
    }

    img {
      width: 100%;
      height: auto;
      max-height: 200px;
      margin: 0 auto;
      display: block;
      @include respond(_768_min) {
        max-height: 150px;
      }
    }

    &__image-container {
      margin: -2rem -2rem 1rem -2rem;
    }

    &__line {
      opacity: 0;
      animation: LineFadeIn .8s .8s forwards ease-in;
    }

    &__bg {
      @include fill('card-bg');
    }

    &__image {
      user-select: none;
      opacity: 0;
      animation: ImageFadeIn .8s 1.4s forwards;
    }

    &__title {
      user-select: none;
      @include color('card-color');
      margin-top: 30px;
      font-weight: 800;
      letter-spacing: 0.01em;
        @include respond(_768_min) {
          font-size: 1.4em;
      }
    }

    &__content {
      user-select: none;
      margin-top: -1rem;
      opacity: 0;
      animation: ContentFadeIn .8s 1.6s forwards;
    }

    &__svg {
      position: absolute;
      left: 0;
      top: 20px;
    }
  }


  .settings-button-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    align-items:center;
    justify-content:center;
    width: 100%;
    visibility: hidden;
  }
  &.step-4 .settings-button-wrapper {
    visibility: visible;
  }
  .container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
}




@keyframes LineFadeIn {
  0% {
    opacity: 0;
    d: path("M 0 300 Q 0 300 0 300 Q 0 300 0 300 C 0 300 0 300 0 300 Q 0 300 0 300 ");
    stroke: #545581;
  }
  50% {
    opacity: 1;
    d: path("M 0 300 Q 50 300 100 300 Q 250 300 350 300 C 350 300 500 300 650 300 Q 750 300 800 300");
    stroke: #888BFF;
  }
  100% {
    opacity: 1;
    d: path("M -2 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 802 400");
    stroke: #fff;
  }
}


